body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $black;
}

a {
  color: inherit;

  &:hover {
    text-decoration: none;
    color: inherit;

  }
}