.small-item-card {
    overflow: hidden;

    &:hover {
        cursor: pointer;

        .small-item-card__image {
            box-shadow: rgb(230, 230, 230) 0px 4px 12px 0px;

            img {
                transform: scale(1.02);
                transition: all .5s;
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
            }
        }
    }


    &__image {
        overflow: hidden;
        height: 9.375em;
        max-height: 9.375em;
        margin: 2px 2px $space-half;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }


    &__title {
        font-size: 0.875em;
        line-height: 1.2;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    &__location {
        font-size: 0.875em;
        color: #999;
        margin-bottom: .2rem;
    }


}