.userIcon
{
    padding-bottom: 10px;
}
.postedby
{
    display:inline-block;
    font-size: 14px;
	font-weight: 500;
    color: #6c6a74;
    vertical-align:-3px;
}
.userIcon span{
    display: inline-block;
	font-size: 18px;
	font-weight: 500;
	color: #44a038;
    margin-left: 5px;
    vertical-align: middle;
}
.userIcon img{
    margin-left: 5px;
    border-radius:50%;
    width:40px;
    height:40px;
}
.product
{
    margin-bottom: 59px;
    text-align:center;
}
.product_image
{
	width: 100%;
}
.product_image img
{
    width: 95%;
    max-width: 95%;
    height: 400px;
    max-height: 400px;
}
.product_content
{
	width: 100%;
	padding-top: 36px;
	padding-bottom: 38px;
}
.product_title 
{
	font-size: 18px;
	font-weight: 500;
	color: #1b1b1b;
	line-height: 1.1;
}
.product_price
{
	font-size: 20px;
	font-weight: 500;
	color: #6c6a74;
	line-height: 0.75;
	margin-top: 13px;
}

@media screen and (max-width:991px){
    .userIcon img{
    display: block;
    margin: 0 auto;
    }
}