.favorite_button
{
	width: 178px;
	height: 61px;
	text-align: center;
	overflow: hidden;
	cursor: pointer;
	vertical-align: middle;
    margin-left: 13px;
    margin-top: 15px;
}
.favorite_button > a{
	display: block;
}
.favorite_button > button, .favorite_button > a
{
	border: solid 2px #1b1b1b;
	width:100%;
	text-align: center;
	position: relative;
	font-size: 16px;
	font-weight: 600;
	line-height: 57px;
	color: #1b1b1b;
	background: none;
	z-index: 1;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.favorite_button::after{
	content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
    height: 100%;
    background: #1b1b1b;
    z-index: 0;
    opacity: 0;
    -webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
    transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s, background-color 0.3s;
    transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
}
.favorite_button:hover::after
{
	opacity: 1;
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.favorite_button button:hover, .favorite_button > a:hover
{
	color: #FFFFFF;
}

.product_details
{
	width: 100%;
	background: #FFFFFF;
	z-index: 2;
	padding-top:70px;
}
.details_row
{
	margin-top: 95px;
}
.details_image_large
{
	width: 100%;
}
.details_image_large img
{
    width:100%;
    max-width: 100%;
    height:550px;
    max-height:550px;
}

.location
{
	display: inline-block;
	font-size: 14px;
	font-weight: 500;
	color: #6c6a74;
}
.location_container span
{
	display: inline-block;
	font-size: 16px;
	font-weight: 500;
	color: #44a038;
	margin-left: 5px;
}
.details_name
{
	font-size: 24px;
	font-weight: 500;
	color: #1b1b1b;
	margin-top: -9px;
}

.details_price
{
	display: inline-block;
	font-size: 26px;
	font-weight: 500;
	color: #6c6a74;
	margin-top: 12px;
	margin-bottom: 15px;
}
.details_text
{
    height:270px;
    overflow: scroll;
	margin-top: 30px;
	margin-top: 15px;
}
.details_text p
{
	font-weight: 500;
}
.details_share
{
	margin-top: 15px;
	border-top: solid 1px #d0d0d0;
}
.details_share span
{
	display: inline-block;
}
.details_share ul
{
	display: inline-block;
	margin-top: 31px;
	margin-left: 41px;
}
.details_share ul li
{
	display: inline-block;
}
.details_share ul li:not(:last-child)
{
	margin-right: 18px;
}
.details_share ul li a i
{
	font-size: 16px;
	color: #b5b5b5;
	padding: 5px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.details_share ul li a i:hover
{
	color: #1b1b1b;
}
.comment_row
{
	margin-top: 91px;
}
.comment_title
{
	display: inline-block;
	font-size: 24px;
	font-weight: 500;
	color: #1b1b1b;
}
.posted-date > span{
	padding-left: 5px;
	color: #44a038;
}
/* .comment_row #comment-frame > li:last-child{	
	border-bottom: none !important;
} */
.form #comment{
	width:80%;
	margin-top: 15px;
	display: inline-block;
}
.form .button-container{
	width:20%;
	display: inline-block;
	margin: 0 auto;
	text-align: center;
}
.form button{
	margin:0 auto;
	color:white;
	background-color: #ff0000 !important;
	border-color: #ff0000;
	opacity: 0.7;
	
}
.form button:hover{
	opacity:1;
	border-color: #ff0000;
}


@media screen and (max-width:767px){
	.form #comment{
		width:100%;
	}
	.form button{
		margin-top:10px;
	}
}