.searchBar {
    width:80%;
    margin: 0 auto;
    display: flex;
  }
  
  .searchTerm {
    width: 100%;
    height: 36px;
    border: 3px solid #ff0000;
    border-top: 4px solid #ff0000;
    border-right: none;
    padding: 5px;
    border-radius: 5px 0 0 5px;
    color: #9DBFAF;
  }
  
  .searchTerm:focus{
    color: #050505;
    outline:none;
  }
  
  .searchBar i {
    width: 40px;
    height: 36px;
    font-size:18px;
    line-height: 36px;
    border: 1px solid #ff0000;
    background: #ff0000;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
  }
  
.products
{
  width: 100%;
  /* height:calc(100vh - 130px); */
  min-height: calc(100vh - 296px);
  /* min-height: 100vh; */
	background: #FFFFFF;
	z-index: 2;
    padding-top: 60px;
}
.products-container
{
    flex-flow: row-reverse wrap-reverse;
}
