*
{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
body
{
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	font-weight: 400;
	background: #FFFFFF;
	color: #a5a5a5;
}
div
{
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul
{
	list-style: none;
	margin-bottom: 0px;
}
p
{
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	line-height: 2.14;
	font-weight: 400;
	color: #6c6a74;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a
{
	display: inline;
	position: relative;
	color: inherit;
	border-bottom: solid 1px #ffa07f;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
p:last-of-type
{
	margin-bottom: 0;
}
a, a:hover, a:visited, a:active, a:link
{
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a:active
{
	position: relative;
	color: #FF6347;
}
p a:hover
{
	color: #FFFFFF;
	background: #ffa07f;
}
p a:hover::after
{
	opacity: 0.2;
}
::selection
{
	
}
p::selection
{
	
}
h1{font-size: 48px;}
h2{font-size: 36px;}
h3{font-size: 24px;}
h4{font-size: 18px;}
h5{font-size: 14px;}
h1, h2, h3, h4, h5, h6
{
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
h1::selection, 
h2::selection, 
h3::selection, 
h4::selection, 
h5::selection, 
h6::selection
{
	
}
.form-control
{
	color: #db5246;
}
section
{
	display: block;
	position: relative;
	box-sizing: border-box;
}
.clear
{
	clear: both;
}
.clearfix::before, .clearfix::after
{
	content: "";
	display: table;
}
.clearfix::after
{
	clear: both;
}
.clearfix
{
	zoom: 1;
}
.float_left
{
	float: left;
}
.float_right
{
	float: right;
}
.trans_200
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.trans_300
{
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.trans_400
{
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.trans_500
{
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.fill_height
{
	height: 100%;
}
.super_container
{
	width: 100%;
	overflow: hidden;
}
.prlx_parent
{
	overflow: hidden;
}
.prlx
{
	height: 130% !important;
}
.parallax-window
{
    min-height: 400px;
    background: transparent;
}
.nopadding
{
	padding: 0px !important;
}
.button
{
	width: 178px;
	height: 61px;
	background: none;
	text-align: center;
	border: solid 2px #1b1b1b;
	overflow: hidden;
	cursor: pointer;
}
.button a
{
	display: block;
	position: relative;
	font-size: 16px;
	font-weight: 600;
	line-height: 57px;
	color: #1b1b1b;
	background: none;
	z-index: 1;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.button::after
{
	content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
    height: 100%;
    background: #FFFFFF;
    z-index: 0;
    opacity: 0;
    -webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
    transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s, background-color 0.3s;
    transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
}
.button:hover::after
{
	opacity: 1;
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button_light
{
	border: solid 2px #FFFFFF;
}
.button_light a
{
	color: #FFFFFF;
}
.button:hover a
{
	color: #FFFFFF;
}
.button_light:hover a
{
	color: #1b1b1b;
}



.searchBar {
    width:80%;
    margin: 0 auto;
    display: flex;
  }
  
  .searchTerm {
    width: 100%;
    height: 36px;
    border: 3px solid #ff0000;
    border-top: 4px solid #ff0000;
    border-right: none;
    padding: 5px;
    border-radius: 5px 0 0 5px;
    color: #9DBFAF;
  }
  
  .searchTerm:focus{
    color: #050505;
    outline:none;
  }
  
  .searchBar i {
    width: 40px;
    height: 36px;
    font-size:18px;
    line-height: 36px;
    border: 1px solid #ff0000;
    background: #ff0000;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
  }
  


.products
{
	width: 100%;
	background: #FFFFFF;
	z-index: 2;
    padding-top: 60px;
}
.products-container
{
    flex-flow: row-reverse wrap-reverse;
}
.products_title
{
	font-size: 30px;
	font-weight: 500;
	color: #1b1b1b;
}
.product_grid
{
	margin-top: 88px;
}
.product
{
	/* width: calc((100% - 90px) / 4); */
	/* width: 25%; */
	/* width: 100%; */
    margin-bottom: 59px;
    text-align:center;
}
.product_image
{
	width: 100%;
}
.product_image img
{
    width: 95%;
	/* max-width: 100%; */
    max-width: 95%;
    
    height: 400px;
    max-height: 400px;
}
.product_content
{
	width: 100%;
	padding-top: 36px;
	padding-bottom: 38px;
}
.product_title 
{
	font-size: 18px;
	font-weight: 500;
	color: #1b1b1b;
	line-height: 1.1;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.product_title a:hover
{
	color: #e95a5a;
}
.product_price
{
	font-size: 16px;
	font-size: 20px;
	font-weight: 500;
	color: #6c6a74;
	line-height: 0.75;
	margin-top: 13px;
}
.product_extra
{
	position: absolute;
	top: 0;
	left: 54px;
	width: 66px;
	height: 36px;
	text-align: center;
	-webkit-transform-origin: top left;
	-moz-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	transform-origin: top left;
	transform: rotate(90deg);
}
/* .product_extra a
{
	display: block;
	font-size: 16px;
	font-weight: 500;
	color: #FFFFFF;
	line-height: 36px;
}
.product_new
{
	background: #6c6a74;
}
.product_sale
{
	background: #e95a5a;
}
.product_hot
{
	background: #1b1b1b;
} */