
.header
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	background: #FFFFFF;
}
.currentuser {
	font-size:16px;
	position:fixed;
	top:10px;
	left:calc(100vw - 200px);
}
.currentuser span{
	color:#44a038;
}
.header_content
{
	width: 100%;
	height: 130px;
}
.logo 
{
	font-size: 30px;
	font-weight: 700;
}
.main_nav
{
	margin: 0 auto;
}
.main_nav ul
{
    width: 100%;
}
.main_nav > ul > li
{
	display: inline-block;
}
.main_nav > ul > li:not(:last-child)
{
	margin-right: 14vw;
}
.main_nav > ul > li > a
{
	font-size: 16px;
	font-weight: 600;
	color: #767676;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

 .main_nav > ul > li > a:hover
{
	color: #1b1b1b;
}


@media screen and (max-width: 480px) { 
	.currentuser {
		left:15px !important;
	}
	.main_nav{
		height:100%;
		padding:14px 0;
	}
	.main_nav > ul > li
	{
		display: block;
		margin-right:0 !important;
	}
	.main_nav > ul > li:not(:last-child)
	{
		margin-bottom: 15px;
	}
}

@media screen and (max-width:767px){
	.currentuser {
		font-size:13px;
		left:calc(100vw - 150px);
	}
	.main_nav
	{
		margin:0;
		margin-left: auto;
	}
	.main_nav > ul > li:not(:last-child)
	{
		margin-right: 10vw;
	}
}