
.header
{
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
    /* border-bottom: 1px solid #1b1b1b; */
}
.header_container
{
	width: 100%;
	/* height:100px; */
	z-index: 1;
	background: #FFFFFF;
}
.header_content
{
	width: 100%;
	height: 130px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.header.scrolled .header_content
{
	height: 70px;
}
.logo 
{
	font-size: 30px;
	font-weight: 700;
	/* color: #ff0000; */
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.header.scrolled .logo 
{
	font-size: 24px;
}
.main_nav
{
    /* margin-left: 156px; */
    margin: 0 auto;
}
.main_nav > ul > li
{
	display: inline-block;
	position: relative;
}
.main_nav > ul > li:not(:last-child)
{
	/* margin-right: 46px; */
	margin-right: 150px;
}
.main_nav > ul > li > a
{
	font-size: 16px;
	font-weight: 600;
	color: #767676;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.main_nav > ul > li > a:hover,
.main_nav > ul > li.active > a
{
	color: #1b1b1b;
}
.main_nav ul li.hassubs::after
{
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	left: calc(100% + 3px);
	font-family: 'FontAwesome';
	font-size: 10px;
	content: '\f078';
	color: #767676;
}
.main_nav ul li:hover::after,
.main_nav ul li.active::after
{
	color: #1b1b1b;
}
.hassubs ul
{
	position: absolute;
	right: -15px;
	top: calc(100% + 20px);
	text-align: right;
	background: #FFFFFF;
	padding-right: 25px;
	padding-left: 35px;
	padding-top: 25px;
	padding-bottom: 25px;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.hassubs:hover ul
{
	visibility: visible;
	opacity: 1;
	top: calc(100% + 0px);
}
.hassubs ul li:not(:last-child)
{
	margin-bottom: 11px;
}
.hassubs ul li a
{
	font-size: 14px;
	font-weight: 600;
	color: #767676;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.hassubs ul li a:hover
{
	color: #1b1b1b;
}
.header_extra
{

}
.shopping_cart
{
	display: inline-block;
}
.shopping_cart a svg
{
	display: inline-block;
	width: 20px;
	height: 20px;
	vertical-align: middle;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.shopping_cart a:hover svg,
.shopping_cart a:hover div
{
	fill: #e95a5a;
	color: #e95a5a;
}
.shopping_cart a div
{
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	font-weight: 500;
	color: #1b1b1b;
	margin-left: 13px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.shopping_cart a div span
{
	margin-left: 4px;
}
.search
{
	display: inline-block;
	margin-left: 51px;
	cursor: pointer;
	vertical-align: sub;
	-webkit-transform: translateY(-1px);
	-moz-transform: translateY(-1px);
	-ms-transform: translateY(-1px);
	-o-transform: translateY(-1px);
	transform: translateY(-1px);
}
.search_icon
{
	width: 13px;
	height: 13px;
}
.search_icon svg
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.search_icon:hover svg
{
	fill: #e95a5a;
}
.hamburger
{
	display: none;
	margin-left: 30px;
	cursor: pointer;
	margin-right: 4px;
	-webkit-transform: translateY(2px);
	-moz-transform: translateY(2px);
	-ms-transform: translateY(2px);
	-o-transform: translateY(2px);
	transform: translateY(2px);
}
.hamburger i
{
	font-size: 18px;
	color: #1b1b1b;
}
.search_panel
{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	background: #e4e4e4;
	z-index: -1;
}
.search_panel.active
{
	bottom: -80px;
}
.search_panel_content
{
	height: 80px;
}
.search_input
{
	width: 300px;
	height: 40px;
	border: none;
	outline: none;
	border-radius: 3px;
	padding-left: 20px;
}
.search_input::-webkit-input-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #767676 !important;
}
.search_input:-moz-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #767676 !important;
}
.search_input::-moz-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #767676 !important;
} 
.search_input:-ms-input-placeholder
{ 
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #767676 !important;
}
.search_input::input-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #767676 !important;
}
.header_social
{
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 60px;
	z-index: 1;
	margin-right: -5px;
}
.header_social ul li
{
	display: inline-block;
}
.header_social ul li:not(:last-child)
{
	margin-right: 18px;
}
.header_social ul li a i
{
	font-size: 16px;
	color: #b5b5b5;
	padding: 5px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.header_social ul li a i:hover
{
	color: #1b1b1b;
}