.breadcrumb {
    background-color: $white;
    list-style: none;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;

    li {
        font-size: $font-size-small-2;

        &:not(:last-child) {

            &::after {
                content: "/";
                margin: 0 .3em;
            }
        }

        a{
            color: $dark-grey;
            &:hover{
                opacity: .8;
            }
        }
    }
}