.required-field {
  color: $error-text;
  margin-right: 0.2em;
}

.form-group {
  & > label {
    margin-bottom: 0.25rem;
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-right: 1.65rem;

    // For IE.
    &::-ms-expand {
      display: none;
    }
  }

  .custom-checkbox {
    position: relative;
    top: 0.1rem;
    margin: 0 0 0 $space;
    height: 14px;
    width: 14px;
  }
}
