.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 4rem;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 24px 0px;
  z-index: $z-index-high-2;
  padding: 0 $pad-and-half;
  background-color: $purple;
  color: $white;

  @include md {
    min-height: 5.25rem;
    height: 5.25rem;
    padding: 0 2rem;
  }

  .logo-text {
    font-size: 1.5em;
    font-weight: 700;
    padding-right: 2rem;
  }

  .search-box {
    flex: 1;
    padding-right: 2rem;
    display: none;

    @include sm {
      display: flex;
    }
  }

  &__nav {
    padding-right: $pad;
    display: none;

    @include lg {
      display: block;
    }

    ul {
      list-style: none;
      margin: 0;
      display: flex;
      align-items: center;

      li {
        float: left;

        &:not(:last-child) {
          margin-right: $pad-and-half;
        }

        &.link-btn {
          display: none;

          @include md {
            display: block;
          }
        }

        &.nav-toggle-btn {
          i {
            font-size: 1.5em;
          }

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }

  .nav-toggle-button {
    font-size: $font-size-large;

    & > span {
      cursor: pointer;

      &:hover {
        color: $light-grey;
      }
    }

    @include lg {
      display: none;
    }
  }
}

// Overlay header
.overlay-header {
  position: fixed;
  top: 4rem;
  left: 0;
  background-color: $white;
  z-index: $z-index-high;
  width: 100%;
  height: 100%;
  padding: $pad-half $pad $pad-and-half;
  overflow-y: auto;

  .header__nav {
    display: block;

    & > ul {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      li {
        float: none;
        margin-right: 0;
        width: 100%;
        padding: $pad-half 0;

        & > button {
          color: $black;
          padding: $pad-half 0;
          width: 100%;
          display: block;
          text-align: left;

          &.sell-button {
            padding: 0.75rem 0;
          }
        }
      }
    }
  }

  .navigation {
    display: block;
    padding: 0;
    border-bottom: none;

    &__list {
      display: flex;
      flex-direction: column;

      & > li {
        margin-bottom: $space-half;
        margin-right: 0 !important;
        border: none;
        cursor: pointer;
        color: $grey-2;

        &:hover {
          color: $purple;
        }

        & > a {
          display: block;
          font-size: 1rem;
        }
      }
    }
  }
}
