/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/

//Colors
$white : #fff;
$black : #4C4C4C;
$light-grey: #f5f5f6;
$grey: #d2d2d2;
$dark-grey: #999999;
$error : #ffdddd;
$error-text : #f44336;
$red : rgb(255, 63, 85);
$orange : #F67900;
$purple : #5E6DF2;
$dark-purple : #252b60;

//font size
$font-size-small : 0.75em;
$font-size-small-2 : 0.875em;
$font-size-med : 1.6em;
$font-size-med-2: 1.0625em;
$font-size-large : 1.4375em;
$font-size-xl : 3.2em;

//Layout
$max-width: 72em;

//Defaults
$space : 1em;
$space-and-half : $space*1.5;
$space-double : $space*2;
$space-quad : $space*4;
$space-half : $space/2;

$pad : 1em;
$pad-and-half : $pad*1.5;
$pad-double : $pad*2;
$pad-half : $pad/2;
$pad-quarter :$pad/4;

$z-index-low: 2;
$z-index-med: 5;
$z-index-high: 10;
$z-index-high-2: 20;

//Borders
$border-med: 3px;
$border-thick: 7px;

//Breakpoints
$bp-small : 36em;
$bp-med : 48em;
$bp-large : 62em;
$bp-xl : 75em;