.collection-page {
  margin-bottom: $space;

  &__main {
    h1 {
      font-size: 2.25em;
      margin-bottom: $space;
    }

    &-content {
      .small-item-card {
        margin-top: $space-double;
      }
    }
  }
}
