body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $black;
}

a {
  color: inherit;

  &:hover {
    text-decoration: none;
    color: inherit;

  }
}

.free-shipping-text {
  background-color: $light-grey;
  margin-top: .3rem;
  color: $dark-grey-2;
  display: inline-block;
  padding: 0 .6em;
  border-radius: 3px;
  font-size: 0.875rem;
}
